
<form method="post" novalidate>

    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="user-name" class="am-u-sm-4 am-form-label">{{ field.label }}</label>
            <div class="am-u-sm-8">
            {{ field }}<span class="error pull-right" style="color: red">{{ field.errors.0 }}</span>
            {% if field.is_pop %}
                <span class="pop_btn"><a onclick="pop('{{ field.url }}','{{ field.pop_back_id }}')">+</a></span>
            {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-primary pull-right">
        </div>
    </div>
</form>
