{% extends "stark/base.html" %}


{% block css %}
    <style>

        .user-area .active a{
            color: white;
        }


        .role-area tr td a {
            display: block;
        }

        .role-area tr.active {
            background-color: #f1f7fd;
            border-left: 3px solid #fdc00f;
        }

        .menu-1{
            background-color: #f1f7fd!important;
        }

        span.link{
            line-height: 48px!important;
            margin: 0 12px;
            display: inline-block;
        }
        li.menu{
            border-bottom: none;
            margin-bottom: -10px;
            color: darkgrey;
            font-size: 12px;
            font-style: italic;
            line-height: 10px;


        }


    </style>
{% endblock %}

{% block content %}
    <div class="luffy-container">
        <div class="col-md-3 user-area">
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i> 用户列表
                </div>

                <div class="panel-body">


                    <ul class="list-group">
                        {% for user in user_list %}
                            {% if user.id|safe == uid %}
                                <li class="list-group-item active"><a href="?uid={{ user.id }}">{{ user.name }}</a></li>
                            {% else %}
                                 <li class="list-group-item"><a href="?uid={{ user.id }}">{{ user.name }}</a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-md-3 role-area">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="postType" value="role">
                <div class="panel panel-danger">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <i class="fa fa-book" aria-hidden="true"></i> 角色列表
                        {% if uid %}
                            <button type="submit" class="right btn btn-success btn-xs"
                                    style="padding: 2px 8px;margin: -3px;">
                                <i class="fa fa-save" aria-hidden="true"></i>
                                保存
                            </button>
                        {% endif %}
                    </div>
                    <div class="panel-body" style="color: #d4d4d4;padding:10px  5px;">
                        提示：点击用户后才能为其分配角色
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>角色</th>
                            <th>选择</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for role in role_list %}
                            <tr {% if role.id|safe == rid %} class="active"  {% endif %}>
                                {% load rbac_tags %}
                                <td><a href="?rid={{ role.id }}">{{ role.name }}</a></td>
                                <td>
                                    {% if role.id in role_id_list %}
                                        <input type="checkbox" name="roles" value="{{ role.id }}" checked/>
                                    {% else %}
                                        <input  type="checkbox" name="roles" value="{{ role.id }}"/>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </form>
        </div>

        <div class="col-md-6 permission-area">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="postType" value="permission">
                <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <i class="fa fa-sitemap" aria-hidden="true"></i> 权限分配
                        {% if rid %}
                            <button class="right btn btn-success btn-xs" style="padding: 2px 8px;margin: -3px;">
                                <i class="fa fa-save" aria-hidden="true"></i>
                                保存
                            </button>
                        {% endif %}
                    </div>
                    <div class="panel-body" style="color: #d4d4d4;padding: 10px 5px;">
                        提示：点击角色后，才能为其分配权限。
                    </div>

                     <ul class="list-group per_region">
                         {% for permission in permissions_tree %}
                            {% if not permission.parent %}
                            <li class="list-group-item menu-1" id="pk_{{ permission.pk }}">{{ permission.title }}</li>

                            {% endif %}

                        {% endfor %}
                     </ul>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {

          distribute()

        });

        function distribute(){
             let permissions_tree={{ permissions_tree_json|safe}}

             $.each(permissions_tree,function(i,permission){
                    var pid=permission["parent"];
                    var url=permission["url"];
                    var pk=permission["pk"];
                    var title=permission["title"];
                    var type=permission["type"];

                    if(type=="link"|type=="menu"){
                        console.log(permission);
                        if(type=="menu"){
                          var s=`<li  id='pk_${pk}' class="list-group-item menu" >&nbsp;${title}</li>`;

                        }else {
                          var s=`<span class='link' id='pk_${pk}'><input name="permissions_id" value='${pk}' type="checkbox">&nbsp;${title}</span>`;
                        }
                        $("#pk_"+pid).after(s);
                    }


             })

             // 权限勾中
            var per_id_list={{ per_id_list }}
            $.each(per_id_list,function(i,j){
                $(".per_region [value='"+j+"']").prop("checked",true);
            })

        }

    </script>
{% endblock %}
