{% extends "stark/base.html" %}



{% block content %}
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading alert-info">公告栏</div>
  <div class="panel-body">
    <div class="panel">

      <div class="col-md-6">
           <div class="panel-heading alert-danger">公司通知</div>
          <div class="panel-body">
            <p>...</p>
          </div>
      </div>
      <div class="col-md-6">
           <div class="panel-heading alert-success">客户消息通知</div>
          <div class="panel-body">
            <p>...</p>
          </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}