<!DOCTYPE html>
<html lang="en">
<head>
    <title>GM管理工具</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/matrix/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/matrix/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/matrix/matrix-login.css"/>
    <link rel="stylesheet" href="/static/matrix/font-awesome.min.css"/>
</head>
<body onkeydown="keydown()">

<div id="particles-js"></div>
<div id="loginbox">
    <div class="normal_text">
        <h2>信息管理系统平台</h2>
        <span>版权所有 &copy; 2015-2018 iProg网络科技有限公司</span>
    </div>
    <form id="loginform" class="form-vertical">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label">输入账号</label>
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="fa fa-user"></i></span><input type="text" id="user" name="username"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">登陆密码</label>
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="fa fa-key"></i></span><input type="password" id="pwd" name="password"/>
                </div>
            </div>
        </div>
        <div class="form-actions">
<span class="pull-left">
<a id="to-recover" href=""/>忘记密码？</a>
</span>
<span class="pull-right">
<input type="button" id="checkBtn" class="btn btn-primary" value="登&nbsp;&nbsp;录"/>
</span>
        </div>
        <div class="normal_text">
            推荐使用支持HTML5的浏览器，如chrome、IE9+等
        </div>
    </form>
    <form id="recoverform" action="#" class="form-vertical">
        <div class="controls-group">
            <label class="control-label">登陆账号</label>
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="fa fa-user"></i></span><input type="text" name="fg_account"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">180字留言（电话、姓名、问题等）</label>
            <div class="controls">
                <div class="main_input_box">
                    <textarea name='fg_message' id="fg_message" placeholder="说点啥吧 ..."></textarea>
                </div>
            </div>
        </div>
        <div class="form-actions">
<span class="pull-left">
<a id="to-login" href="#">&laquo; 返回登录</a>
</span>
<span class="pull-right">
<input type="button" id="leaveMsg" class="btn btn-info" value="给管理员留言"/>
</span>
        </div>
        <div class="control-group normal_text">
            推荐使用支持HTML5的浏览器，如chrome、IE9+等
        </div>
    </form>
</div>
<script src="/static/matrix/jquery.min.js"></script>
<script src="/static/matrix/matrix.login.js"></script>

<script src="/static/matrix/particles.js"></script>
<script src="/static/matrix/particlesapp.js"></script>
</body>
</html>